version: "3.9"

services:
  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    container_name: mad-pi2-auth-keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    command: start-dev
    networks:
      - mad-network

  backend-node:
    build: ./backend-node
    container_name: mad-pi2-auth-backend-node
    networks:
      - mad-network
    ports:
      - "5000:5000"


  oauth2-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:latest
    container_name: mad-pi2-auth-oauth2-proxy
    depends_on:
      - keycloak
    ports:
      - "4180:4180"
    volumes:
      - ./oauth2-proxy/oauth2-proxy.cfg:/etc/oauth2-proxy/oauth2-proxy.cfg:ro
      - ./oauth2-proxy/wait-for-keycloak.sh:/wait-for-keycloak.sh:ro
    entrypoint: ["/bin/sh", "/wait-for-keycloak.sh"]
    networks:
      - mad-network

  nginx:
    image: nginx:stable
    container_name: mad-pi2-auth-nginx
    depends_on:
      - oauth2-proxy
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    networks:
      - mad-network

networks:
  mad-network:
    driver: bridge
