apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  labels:
    app: keycloak
spec:
  replicas: 2
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
      - name: keycloak
        image: quay.io/keycloak/keycloak:24.0
        args: ["start-dev"] # Mode dev pour accepter les connexions HTTP (pas HTTPS interne)
        env:
        # 1. Configuration Admin (Pour te connecter à la console)
        - name: KEYCLOAK_ADMIN
          value: "admin"
        - name: KEYCLOAK_ADMIN_PASSWORD
          value: "admin"
        
        # 2. Connexion à LA base de données Postgres (Crucial !)
        - name: KC_DB
          value: "postgres"
        - name: KC_DB_URL
          value: "jdbc:postgresql://postgres-service:5432/keycloak_db"
        - name: KC_DB_USERNAME
          valueFrom:
            secretKeyRef:
              name: postgres-secret # On récupère le user du secret Postgres
              key: postgres-user
        - name: KC_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret # On récupère le password du secret Postgres
              key: postgres-password
        
        # 3. Réglages réseau pour que ça marche derrière un proxy
        - name: KC_PROXY
          value: "edge"
        - name: KC_HOSTNAME_STRICT
          value: "false" # Important pour y accéder via IP sans nom de domaine
        - name: KC_HTTP_ENABLED
          value: "true"
        
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: keycloak-service
spec:
  selector:
    app: keycloak
  type: NodePort # Permet d'accéder depuis ton Windows via l'IP de la VM
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080 # On fixe le port 30080 pour que tu puisses tester facilement